<div class="account-content">
    <div class="login-wrapper bg-img">
        <div class="login-content">
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <div class="login-userset">
                    <div class="login-logo logo-normal">
                       <img src="assets/img/logo.png" alt="img">
                   </div>
                   <a [routerLink] = "routes.adminDashboard" class="login-logo logo-white">
                       <img src="assets/img/logo-white.png"  alt="">
                   </a>
                   <div class="login-userheading">
                       <h3>Connectez vous</h3>
                       <h4></h4>
                   </div>
                   
                   <div class="form-login mb-3">
                       <label class="form-label">Nom d'utilisateur</label>
                       <div class="form-addons">
                           <input type="text" class="form- control" id="email" formControlName="email" >
                           <img src="assets/img/icons/mail.svg" alt="img">
                       </div>
                   </div>
                   <div class="form-login mb-3">
                       <label class="form-label">Mot de passe</label>
                       <div class="pass-group">
                        <input [type]="password[1] ? 'text' : 'password' " class="pass-input" id="password" formControlName="password">
                        <span class="fas toggle-password" [ngClass]=" password[1] ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePassword(1)"></span>
                    </div>
                   </div>
                   <div class="form-login authentication-check">
                       <div class="row">
                           <div class="col-12 d-flex align-items-center justify-content-between">
                               <div class="custom-control custom-checkbox custom-class-check">
                                   <label class="checkboxs ps-4 mb-0 pb-0 line-height-1">
                                       <input type="checkbox" class="form-control">
                                       <span class="checkmarks"></span>Se rappeler
                                   </label>
                               </div>
                               <div class="text-end">
                                   <a class="forgot-link" [routerLink] = "routes.forgotPassword">Mot de passe oublié?</a>
                               </div>
                           </div>                                    
                       </div>
                   </div>
                   <div class="form-login">
                       <button type="submit" class="btn btn-login" [disabled]="loginForm.invalid">Sign In</button>
                   </div>
                   
                   <div class="form-sociallink">
                       <ul class="d-flex">
                           <li>
                               
                           </li>
                           <li>
                             
                           </li>
                           <li>
                              
                            
                           </li>
                           
                       </ul>
                       <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                           <p>Copyright &copy; 2024 6royal. All rights reserved</p>
                       </div>
                   </div>
               </div>
            </form>
        </div>
    </div>
</div>